html {
    font-family: sans-serif;
    display: flex;
    justify-content: center;
  }

  .add-book {
    display: flex;
    justify-content: center;
  }

  #book-form {
    display: flex;
    flex-direction: column;
  }

  #book-form > div {
    padding: 20px;
  }

  table {
    border-collapse: collapse;
    border: 2px solid rgb(200,200,200);
    letter-spacing: 1px;
    font-size: 0.8rem;
  }
  
  td, th {
    border: 1px solid rgb(190,190,190);
    padding: 10px 20px;
  }
  
  th {
    background-color: rgb(235,235,235);
  }
  
  td {
    text-align: center;
  }

.read {
    background-color:aqua;
  }

  caption {
    padding: 10px;
  }